wsdl/trip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Trip"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.rns.com/wsdl/Trip/2.2"
  xmlns:f="http://www.rns.com/xsd/services/Failure/1.0"
  xmlns:trip="http://www.rns.com/xsd/services/Trip/2.2"
  targetNamespace="http://www.rns.com/wsdl/Trip/2.2">
    

  <!-- Message types -->


  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.rns.com/xsd/services/Failure/1.0"
        schemaLocation="/home/Ronak/Desktop/Trip/xsd/failure.xsd"/>
      <xsd:import namespace="http://www.rns.com/xsd/services/Trip/2.2"
        schemaLocation="/home/Ronak/Desktop/Trip/xsd/trip.xsd"/>
    </xsd:schema>
  </wsdl:types>


  <!-- Messages -->


  <wsdl:message name="TripSearchRequestMessage">
    <wsdl:documentation>
      Request to perform Trip flight search.
    </wsdl:documentation>
    <wsdl:part name="request" element="trip:TripSearchRequest"/>
  </wsdl:message>
  
  <wsdl:message name="TripSearchResponseMessage">
    <wsdl:documentation>
      Response to a Trip flight search request
    </wsdl:documentation>
    <wsdl:part name="response" element="trip:TripSearchResponse"/>
  </wsdl:message>

  <wsdl:message name="TripBookingRequestMessage">
    <wsdl:documentation>
      Request to perform Trip flight booking
    </wsdl:documentation>
    <wsdl:part name="request" element="trip:TripBookingRequest"/>
  </wsdl:message>
  
  <wsdl:message name="TripBookingResponseMessage">
    <wsdl:documentation>
      Response to a Trip flight booking request.
    </wsdl:documentation>
    <wsdl:part name="response" element="trip:TripBookingResponse"/>
  </wsdl:message>
  
  <wsdl:message name="FailureMessage">
    <wsdl:documentation>
      Format for errors generated by the service.
    </wsdl:documentation>
    <wsdl:part name="response" element="f:Failure"/>
  </wsdl:message>


  <!-- Services that can have one or more operations -->


<wsdl:portType name="TripPortType">

   <wsdl:documentation> Interface for clients to search  and book  flights </wsdl:documentation>

    <wsdl:operation name="TripSearch">
      <wsdl:documentation>Operation to search flights</wsdl:documentation>
      <wsdl:input message="tns:TripSearchRequestMessage">
      <wsdl:documentation>  Request message info</wsdl:documentation>
      </wsdl:input>
      <wsdl:output message="tns:TripSearchResponseMessage">
      <wsdl:documentation> Response message info  </wsdl:documentation>
       </wsdl:output>
      <wsdl:fault name="TripSearchFault" message="tns:FailureMessage">
      <wsdl:documentation> Error message </wsdl:documentation>
       </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="TripBooking">
      <wsdl:documentation>Operation to book flights</wsdl:documentation>
      <wsdl:input message="tns:TripBookingRequestMessage">
      <wsdl:documentation>  Request message info </wsdl:documentation>
      </wsdl:input>
      <wsdl:output message="tns:TripBookingResponseMessage">
      <wsdl:documentation> Returned message info  </wsdl:documentation>
       </wsdl:output>
      <wsdl:fault name="TripBookingFault" message="tns:FailureMessage">
      <wsdl:documentation> Error message </wsdl:documentation>
       </wsdl:fault>
    </wsdl:operation>


</wsdl:portType>



<!-- Binding to a protocol , SOAP -->

 <wsdl:binding name="TripBinding" type="tns:TripPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TripSearch">
      <soap:operation style="document" soapAction="http://www.rns.com/xsd/services/Trip/2.2/TripSearch"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="TripBooking">
      <soap:operation style="document" soapAction="http://www.rns.com/xsd/services/Trip/2.2/TripBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
 </wsdl:binding>



 <!-- Ports(Service and their corresponding binding) -->

 <wsdl:service name="TripService">
    <wsdl:port name="TripPort" binding="tns:TripBinding">
      <soap:address location="/Trip-2.2/TripService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!-- End of the WSDL definition -->